<Layouts.app flash={@flash}>
  <.header>
    Edit Promation {@promation.id}
    <:subtitle>Use this form to manage promation records in your database.</:subtitle>
  </.header>

  <.promation_form changeset={@changeset} action={~p"/pronations/#{@promation}"} return_to={~p"/pronations"} />
</Layouts.app>
