<h1>Products</h1>
<p>Welcome to the product page!</p>
<p>Here you can find a list of all products.</p>
<h1 :if={@promo}>Promo code is = <%= @promo %></h1>

<p>Your selected console is: <strong><%= @console %></strong></p>